

#consulta form{
    font-size: 20px;
}

#consulta table{
    width: 100%;
    background-color: #e5f5fd;
    border-radius: 1em;
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #00669C;
    
}



#consulta input{
    margin-right: 20px;
    height: 30px;
}

#consulta #boton{
    height: 40px;
    margin-top: 20px;
    width: 110px;
    margin-right: 15px;
    background-color: #00669C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 0px;

}

#consulta #boton:hover{
    background-color:#7D0F3F;
}

#consulta h2{
    color: #00669C;
   text-align: center;

}
#consulta h3, h4{
    color: #B6B6B7;
    text-align: center;
   
}

#consulta caption{
    color:white;
    margin-top: 30px;
    margin-bottom: -5px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#consulta p{
    background-color: #7D0F3F;
    width: 150px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}



table input{
    width: 80%;
    border-radius: 10px;
    border-color:#00669C;
    border: 0px;
    height: 30px;
    margin-bottom: 15px;
}

#consulta select{
    width: 80%;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #B6B6B7;
    
}




#consulta {
    position: relative;
    width: 100%;
    margin-top: 180px;
    overflow-y: hidden;
    height: 620px;
  }

/* media */



@media(min-width:1000px){
    #consulta form{
        width: 65%;
        margin: auto;
    }

}


