#contenido .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

#contenido article{
    margin: 50px 0px 20px 0px;
}

#contenido img{
    width: 100%;
}
#contenido p{
    color: #B6B6B7;
    text-decoration: none;
    display: block;
    margin: 0px auto;
}

#contenido a{
    color: #B6B6B7;
    text-decoration: none;
    width: 100%;
}

#contenido a:hover{
    color:#00669C ;
}

#contenido h3{
    text-align: center;
    margin-top: 20px;
}

#contenido img:hover{
    transform: scale(1.05);
}

@media(max-width:600px){
    #contenido p{
        width: 60%;
    }
}

@media(min-width:600px){
    #contenido img{
        width: 100%;
        max-width: 300px;
    }
    #contenido p{
        width: 80%;
    }
}


@media(min-width:1200px){
    #contenido img{
        width: 100%;
        max-width: 750px;
        display: block;
        margin: 0px auto;
    }
    #contenido h3{
        font-size: 30px;
    }
    #contenido p{
        width: 50%;
    }
}