

#formulario form,
#datos-alumno form,
#formulario section{
    font-size: 20px;
}

#formulario table,
#datos-alumno table{
    width: 100%;
    background-color: #e5f5fd;
    border-radius: 1em;
    padding-left: 15%;
    padding-top: 15px;
    color: #00669C;
    
}

#formulario tr,
#datos-alumno tr{
    height: 35px;
}


#formulario,
#datos-alumno{
    margin-top: 200px;
}


#formulario input,
#datos-alumno input{
    margin-right: 20px;
    height: 30px;
}
#formulario .boton,
#datos-alumno .boton{
    height: 40px;
    margin-top: 5px;
    width: 110px;
    margin-right: 15px;
    background-color: #00669C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 0px;

}

#formulario .boton:hover,
#datos-alumno .boton:hover{
    background-color:#7D0F3F;
}

#formulario h2,
#datos-alumno h2{
    color: #00669C;
   text-align: center;

}
#formulario h3, h4,
#datos-alumno h3, h4{
    color: #B6B6B7;
    text-align: center;
   
}

#formulario caption{
    color:#7D0F3F !important;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#datos-alumno caption{
    color:#7D0F3F !important;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table input{
    width: 80%;
    border-radius: 10px;
    border-color:#00669C;
    border: 0px;
    height: 30px;
    margin-bottom: 15px;
}
.error {
    margin-top: 10px;
    color: red;
    font-weight: 1000;
    text-align: center;
}
#formulario select,
#datos-alumno select{
    width: 80%;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #B6B6B7;
    
}

#F,
#F-actualiza{
    width: 20px;
    
}

#M,
#M-actualiza{
    width: 20px;
}

#lesc, 
#iesc,
#Lesc-actualiza,
#iesc-actualiza{
    display: none;
}

#menRev{
    display: none;    
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    text-align: left !important;
    margin-bottom: 15px;
} 

/* media */

@media(min-width:1000px){
    #formulario form,
    #formulario section{
        width: 65%;
        margin: auto;
    }
    #datos-alumno form{
        width: 65% !important;
        margin: auto !important;
    }

}