

#formulario form{
    font-size: 20px;
}

#formulario table{
    width: 100%;
    background-color: #e5f5fd;
    border-radius: 1em;
    padding-left: 15%;
    padding-top: 15px;
    color: #00669C;
    
}

#formulario tr{
    height: 35px;
}


#formulario{
    margin-top: 200px;
}




#formulario #boton{
    height: 40px;
    width: 110px;
    margin-right: 30px;
    background-color: #00669C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 0px;

}

#formulario #boton:hover{
    background-color:#7D0F3F;
}

#formulario h2{
    color: #00669C;
   text-align: center;
}
#formulario h3, h4{
    color: #B6B6B7;
    text-align: center;
}

#formulario caption{
    color:#7D0F3F;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table input{
    width: 80%;
    border-radius: 10px;
    border-color:#00669C;
    border: 0px;
    height: 30px;
    margin-bottom: 15px;
}

#formulario select{
    width: 80%;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #B6B6B7;
    
}

#F{
    width: 20px;
    
}

#M{
    width: 20px;
}

#lesc, #iesc{
    display: none;
    
}

/* media */

@media(min-width:1000px){
    #formulario form{
        width: 65%;
        margin: auto;
    }

}